﻿@model IEnumerable<PortalGuitarFlash.Web.ViewModels.ChangeLogViewModel>

@{
    ViewBag.Title = "ChangeLog";
}

<h2>Por que o Portal mudou?</h2>

<div class="panel panel-info">
    <div class="panel-heading">
        Manter o portal não é de graça. Para redução de custos, melhoria no desempenho de navegação, adequação às políticas do jogo
        e facilidade de manutenção, o portal foi migrado para uma nova tecnologia. Para a migração completa, necessita-se algum tempo
        e muitos testes. Manter o portal deixou de ser apenas um "hobby", e agora queremos melhorar a qualidade e segurança.
    </div>
</div>

<div class="panel panel-default panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Não posso mais postar minhas charts? D:</h3>
    </div>
    <div class="panel-body">
        Por enquanto pretendemos habilitar a possibilidade de submissão de charts através de URLs externas (mediafire, 4shared, etc).
        As charts do portal continuam disponíveis para download, e continuarão a menos que o charter que a postou queira retirá-la.
        Estamos evoluindo nossa plataforma para @Html.ActionLink("uma nova forma", "Index", "News") de controle e avaliação de charts.
        Se será possível ou não continuar "postando" charts para que os jogadores façam o download da mesma, será decidido pela GamesX (proprietária do Guitar Flash).
        Isso tudo é para melhorar o serviço oferecido à vocês, ETs!!!!
    </div>
</div>

<div class="page-header">
    <h2>Veja abaixo a lista do que estamos desenvolvendo [...] <small>e o que já foi desenvolvido ;)</small></h2>
</div>

@if (User.IsInRole("Admin"))
{
    <p>
        <a href="@Url.Action("Create")" class="btn btn-primary">Incluir uma Revisão</a>
    </p>
}

<table class="table">
    <tr>
        <th>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
