﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portal do Guitar Flash - @ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @RenderSection("Content", required: false)

    @Scripts.Render("~/bundles/jquery")

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

</head>
<body>
    <div class="body-content">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top topnav" role="navigation">
            <div class="container topnav">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand topnav" href="#">Portal Guitar Flash</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Novidades", "Index", "News")</li>
                        <li>@Html.ActionLink("Músicas", "Index", "Song")</li>
                        <li>@Html.ActionLink("Usuários", "Index", "User")</li>
                        <li>@Html.ActionLink("Bandas", "Index", "Author")</li>
                        @*<li>@Html.ActionLink("Conversor", "Index", "Converter")</li>*@
                        <li>@Html.ActionLink("Histórico de Mudanças", "Index", "ChangeLog")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                <div class="container">
                    <div class="row">
                        @if (ViewBag.ErrorMessage != null)
                        {
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    @ViewBag.ErrorMessage
                                </div>
                            </div>
                        }

                        @RenderBody()
                    </div>
                </div>
            </section>
        </div>
    </div>

    <!-- Footer -->

    @*<nav class="navbar navbar-default">
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <p class="copyright text-muted small">Portal desenvolvido e mantido por <a href="https://www.facebook.com/alissonreinaldosilva">Alisson Reinaldo Silva</a>. Por favor, entre em contato caso detecte qualquer erro!</p>
                </div>
            </div>
        </footer>
    </nav>*@

    @RenderSection("Scripts", required: false)

</body>
</html>
