﻿@using PortalGuitarFlash.Web.ViewModels
@using PortalGuitarFlash.Web.Helpers

@if (Helpers.IsAuthenticated())
{
    using (Html.BeginForm("Logoff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="@Url.RouteUrl("Profile")">
                <img src="@Url.Action("UserProfileImage", "Image", new { userId = Helpers.GetLoggedUser().ID })" class="img-circle img-nav">
                @Helpers.GetLoggedUser().Name
                </a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.RouteUrl("Profile.Edit")"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar Perfil</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Sair</a></li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Cadastro", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
