﻿@model IEnumerable<PortalGuitarFlash.Web.ViewModels.AuthorViewModel>

@{
    ViewBag.Title = "Bandas";
}

<h2>Bandas</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegisterDate)
        </th>
        @if (User.IsInRole("Admin"))
        {
        <th></th>
        }
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegisterDate)
        </td>
        @if (User.IsInRole("Admin"))
        {
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.AuthorId })
        </td>
        }
    </tr>
}

</table>
