﻿@model PortalGuitarFlash.Web.ViewModels.User.ProfileViewModel

@{
    ViewBag.Title = "Editar Perfil";
}

@using (Html.BeginForm("Edit", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)

    <div class="container" id="main">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div id="sidebar">
                    <div class="user">
                        <div class="text-center">
                            <img src="@Url.Action("UserProfileImage", "Image", new { userId = Model.ID })" class="img-circle img-profile">
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name)
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                        <div class="hr-center"></div>
                    </div>
                    <div class="link-me">

                        <div class="form-group">
                            @Html.LabelFor(model => model.Local)
                            @Html.EditorFor(model => model.Local, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Local, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Birthday)
                            @Html.EditorFor(model => model.Birthday,  new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-skype"></i></div>
                                @Html.EditorFor(model => model.Skype, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.Skype, "", new { @class = "text-danger" })
                        </div>
                        <div class="hr-center"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                <div id="content">
                    <!-- start:navbar -->
                    <nav class="navbar navbar-default navbar-static-top" role="navigation">
                        <div class="navbar-header page-scroll">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse navbar-ex1-collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-check"></i> Salvar</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <!-- end:navbar -->
                    <!-- start:main content -->
                    <div class="main-content">
                        <ul class="timeline">
                            <!-- start:profile -->
                            <li id="id-profile">
                                <div class="timeline-badge default"><i class="fa fa-user"></i></div>
                                <h1 class="timeline-head">EDIÇÃO DE PERFIL</h1>
                            </li>
                            <li id="profile">
                                <div class="timeline-badge primary"></div>
                                <div class="timeline-panel">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.DescriptionTitle, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.DescriptionTitle, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="hr-left"></div>
                                    <p>
                                        <div class="form-group">
                                            @Html.TextAreaFor(model => model.Description, 10, 20, htmlAttributes: new { @class = "form-control", data_provide="markdown", id="profile-description" })
                                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                        </div>
                                    </p>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-twitter"></i></div>
                                            @Html.EditorFor(model => model.TwitterUrl, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.TwitterUrl, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-facebook-square"></i></div>
                                            @Html.EditorFor(model => model.FacebookUrl, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.FacebookUrl, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-google-plus"></i></div>
                                            @Html.EditorFor(model => model.GooglePlusUrl, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.GooglePlusUrl, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </li>
                            <!-- end:profile -->
                        </ul>
                    </div>
                    <!-- end:main content -->
                </div>
            </div>
        </div>
    </div>
    
}

@section Content {
    @Styles.Render("~/Content/user")
    @Styles.Render("~/Content/fa")
    @Styles.Render("~/Content/timeline")
    @Styles.Render("~/Content/markdown")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/user")
    @Scripts.Render("~/bundles/scrolling-nav")
    @Scripts.Render("~/bundles/markdown")
}