﻿@model IEnumerable<PortalGuitarFlash.Web.ViewModels.UserViewModel>

@{
    ViewBag.Title = "Charters";
}

<h2>Charters</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CharterPoints)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegisterDate)
        </th>
    </tr>

    @foreach (var user in Model)
    {
        <tr class="clickable clickable-row" data-href="@Url.RouteUrl("Profile", new { id = user.ID }) ">
            <td>
                @Html.DisplayFor(modelItem => user.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.CharterPoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.RegisterDate)
            </td>
        </tr>
    }

</table>

@Scripts.Render("~/bundles/user")