﻿@model PortalGuitarFlash.Web.ViewModels.User.ProfileViewModel

<div class="container" id="main">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
            <div id="sidebar">
                <div class="sosmed">
                    <div class="text-center">
                        @if (@Model.FacebookUrl != null)
                        {
                            <a href="@Model.FacebookUrl" target="_blank"><i class="fa fa-facebook fa-2x" data-toggle="tooltip" data-placement="top" title="Facebook"></i></a>
                        }
                        @if (@Model.TwitterUrl != null)
                        {
                            <a href="@Model.TwitterUrl" target="_blank"><i class="fa fa-twitter fa-2x" data-toggle="tooltip" data-placement="top" title="Twitter"></i></a>
                        }
                        @if (@Model.GooglePlusUrl != null)
                        {
                            <a href="@Model.GooglePlusUrl" target="_blank"><i class="fa fa-google-plus fa-2x" data-toggle="tooltip" data-placement="top" title="Google Plus"></i></a>
                        }
                    </div>
                </div>
                <div class="user">
                    <div class="text-center">
                        <img src="@Url.Action("UserProfileImage", "Image", new { userId = Model.ID })" class="img-circle img-profile">
                    </div>
                    <div class="user-head">
                        <h1 class="user-profile-name">@Model.Name.ToUpper()</h1>
                        <div class="hr-center"></div>
                    </div>
                </div>
                <div class="link-me">

                    <div class="text-center">
                        <div>@Model.Local</div>
                        <div>@Model.Age</div>
                        @if (@Model.Skype != null)
                        {
                            <div><i class="fa fa-skype"></i> @Model.Skype</div>
                        }
                    </div>
                    <div class="hr-center"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
            <div id="content">
                <!-- start:navbar -->
                <nav class="navbar navbar-default navbar-static-top" role="navigation">
                    <div class="navbar-header page-scroll">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="page-scroll">
                                <a href="#id-work">
                                    <i class="fa fa-angle-double-down"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <!-- end:navbar -->
                <!-- start:main content -->
                <div class="main-content">
                    <ul class="timeline">
                        <!-- start:profile -->
                        <li id="id-profile">
                            <div class="timeline-badge default"><i class="fa fa-user"></i></div>
                            <h1 class="timeline-head">PERFIL</h1>
                        </li>
                        <li id="profile">
                            <div class="timeline-badge primary"></div>
                            <div class="timeline-panel" >
                                <h1>@Model.DescriptionTitle</h1>
                                <div class="hr-left"></div>
                                <div class="markdown-editor">
                                    @Model.Description
                                </div>
                            </div>
                        </li>
                        <!-- end:profile -->
                        <!-- start:work -->
                        <li id="id-work">
                            <div class="timeline-badge default"><i class="fa fa-briefcase"></i></div>
                            <h1 class="timeline-head">GERAL</h1>
                        </li>
                        <li>
                            <div class="timeline-badge danger"></div>
                            <div class="timeline-panel">
                                <div class="timeline-body">
                                    <h1>Personal Info</h1>
                                </div>
                            </div>
                        </li>
                        <!-- end:work -->
                        <!-- start:resume -->
                        <li id="id-resume">
                            <div class="timeline-badge default"><i class="fa fa-file"></i></div>
                            <h1 class="timeline-head">MÚSICAS</h1>
                        </li>
                        <li id="resume">
                            <div class="timeline-badge warning"></div>
                            <div class="timeline-panel">
                                <h1>Músicas Custom</h1>
                                <div class="hr-left"></div>
                                <div class="songlist-item">
                                    <h3>Música A</h3>
                                    <small><i class="fa fa-calendar"></i>27/11/2015 03:34</small>
                                    <p>
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse
                                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                </div>
                                <hr>
                                <div class="songlist-item">
                                    <h3>Música B</h3>
                                    <small><i class="fa fa-calendar"></i>27/11/2015 03:34</small>
                                    <p>
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse
                                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- end:main content -->
            </div>
        </div>
    </div>
</div>

@section Content {
    @Styles.Render("~/Content/user")
    @Styles.Render("~/Content/fa")
    @Styles.Render("~/Content/timeline")
    @Styles.Render("~/Content/markdown")
}

@section Scripts {
    @Scripts.Render("~/bundles/user")
    @Scripts.Render("~/bundles/scrolling-nav")
    @Scripts.Render("~/bundles/markdown")
}