﻿@model PortalGuitarFlash.Web.ViewModels.Account.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Ou faça seu Login utilizando outros provedores:</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() > 0)
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Login utilizando o @p.Caption">@p.AuthenticationType</button>
                    }
                </p>
            </div>
        }
    }
}
