﻿@using PortalGuitarFlash.Web.ViewModels;
@model CollectionPageViewModel<PortalGuitarFlash.Web.ViewModels.Song.ExternalSongViewModel>

@{
    ViewBag.Title = "Charts p/ Download";
}

<h2>Acervo de Músicas para Download Externo</h2>

@if (!Request.IsAuthenticated)
{
    <div class="panel panel-warning">
        <div class="panel-heading">
            É necessário efetuar o <a href="@Url.Action("Login", "Account")">Login</a> para baixar e postar músicas!
        </div>
    </div>
}
else
{
    <p>
        <a href="@Url.Action("Create", "Song")" class="btn btn-primary">Inserir Chart</a>
    </p>
}

<div class="panel panel-danger">
    <div class="panel-heading">
        <p>Os links fornecidos para download e vídeo não são garantidos/analisados/aprovados pelo Portal.</p>
        <p>Após ser redirecionado para a página de download, baixe por sua conta e risco!!!</p>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <p>Exibindo @Model.ItemsPerPage de um total de <strong>@Model.TotalItems</strong> disponíveis!!!</p>
    </div>
</div>

@using (Html.BeginForm("Index", "Song", FormMethod.Get))
{
    <div class="container">   
        <div class="col-md-4">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(c => c.Texto, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(c => c.Texto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(c => c.Texto, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(c => c.Quantidade, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(c => c.Quantidade, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(c => c.Quantidade, "", new { @class = "text-danger" })
            </div>
            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
        </div>
    </div>
    <hr />

    foreach (var item in Model.Items)
    {
        <div class="panel panel-primary">
            <div class="panel-heading"><h3>@Html.DisplayFor(modelItem => item.AuthorName) - @Html.DisplayFor(modelItem => item.Name)</h3></div>
                <div class="panel-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">

                                <h4>Charted by: <a href="@Url.RouteUrl("Profile", new { id = item.ID })" title="Profile" class="btn-link">@Html.DisplayFor(modelItem => item.OwnerName)</a> - @item.GetDownloadDescription()</h4>
                                <p>
                                    <small><strong><i class="fa fa-calendar"></i> @Html.DisplayFor(modelItem => item.RegisterDate)</strong></small>
                                </p>
                                <p>
                                    <a href="@Url.Action("Download", "Song", routeValues: new { id = item.ID })" title="Download" target="_blank" class="btn btn-sm btn-success">Download</a>
                                </p>
                            </div>
                            @if (!item.VideoUrl.IsEmpty())
                            {
                                <div class="container">
                                    <div class="pull-right">
                                        <div class="col-md-4">
                                            @if (!item.Embedded.EmbeddedUrl.IsEmpty())
                                            {
                                                <iframe width="200" height="113" src=@item.Embedded.EmbeddedUrl data-toggle="tooltip" title="URL: @item.VideoUrl" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                                            }
                                            else
                                            {
                                                <a href="@item.VideoUrl" data-toggle="tooltip" data-placement="bottom" title="URL: @item.VideoUrl" target="_blank" class="btn btn-sm btn-primary">Vídeo</a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
    <hr>    
    }

}

@section Content {
    @Styles.Render("~/Content/timeline")
    @Styles.Render("~/Content/fa")
}

        @*<table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Items.First().Name);
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Items.First().AuthorName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Items.First().Level)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Items.First().DownloadCount)
                    </th>
                    @if (Request.IsAuthenticated)
                    {
                    <th>
                        @Html.DisplayNameFor(model => model.Items.First().DownloadUrl)
                    </th>
                    }
                    <th>
                        @Html.DisplayNameFor(model => model.Items.First().VideoUrl)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Items.First().OwnerName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Items.First().RegisterDate)
                    </th>
                    <th></th>
                </tr>

            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AuthorName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Level)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DownloadCount)
                    </td>
                    @if (Request.IsAuthenticated)
                    {
                    <td>
                        <a href="@Url.Action("Download", "Song", routeValues: new { id = item.ID })" data-toggle="tooltip" data-placement="bottom" title="Download" target="_blank" class="btn btn-sm btn-primary">Download</a>
                    </td>
                    }
                    <td>
                        <a href="@item.VideoUrl" data-toggle="tooltip" data-placement="bottom" title="URL: @item.VideoUrl" target="_blank" class="btn btn-sm btn-primary">Vídeo</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OwnerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegisterDate)
                    </td>
                    @if (ViewBag.LoggedUserId == item.OwnerID)
                    {
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Excluir", "Delete", new { id = item.ID })
                    </td>
                    }
                    else
                    {
                        <td></td>
                    }
            </tr>
            }
            </table>*@
